@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: Montserrat;
    background-color: rgb(248, 237, 237);
}
.playlist {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 20px;
    width: 1250px;
    height: 850px;
    position:absolute; left:600px; top:50px;
    overflow-x: hidden;
    overflow-y: auto;
}
.playlists{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 20px;
    position:absolute; left:50px; top:50px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
    height: 500px;
}
.trackList{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 20px;
    position:absolute; left:50px; top:700px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
    height: 400px;
}
.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 150px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="search"]::placeholder {
    position: left;
}
#track {
    position:absolute; left:750px; top:10px;
}
#artist {
    position:absolute; left:1150px; top:10px;
}
#album {
    position:absolute; left:1550px; top:10px;
}
#newplaylist{
    width: 150px;
    position:absolute; left:160px; top:600px;
}
.heading_num {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 25px;
    font-family: Montserrat;

}
.heading_image {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 75px;
    font-family: Montserrat;
}
.heading_title {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 400px;
    font-family: Montserrat;
}
.heading_album {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 400px;
    font-family: Montserrat;
}
.heading_duration {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 100px;
    font-family: Montserrat;
}
.heading_add {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 30px;
    font-family: Montserrat;
}
#heading {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: -webkit-sticky;
    position: sticky;
    padding: 20px;
    height: 45px;
}
#data:hover {
    background-color: rgb(175, 174, 174);
}
.data:hover {
    background-color: rgb(175, 174, 174);
}
.trackBtn{
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position: absolute; left:955px; top:8px;
}
.artistBtn {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position:absolute; left:1355px; top:8px;
}
.albumBtn {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position:absolute; left:1755px; top:8px;
}
.playlistBtn{
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position:absolute; left:365px; top:600px;
}
.refreshPlaylists {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position:absolute; left:182px; top:8px;
}
.addToPlaylist {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position:absolute; left:300px; top:660px;
}
.deletePlaylist {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position:absolute; left:100px; top:660px;
}
.playlistCenter{
    text-align: center;
    padding-left: 35px;
}
.playlistCenter:hover {
    background-color: rgb(175, 174, 174);
}
