.searchName {
    width: 260px;
    height: 50px;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    position:absolute; left:750px; top:50px;
  }
  
  input[type=text] {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .buttonName {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    position:relative; left:1005px; top:46px;
  }
  
  .buttonName:hover {
    background-color: #555555;
    color: white;
  }
  
  .track {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding-top: 5px;
    padding-left: 20px;
    width: 1020px;
    height: 790px;
    position:absolute; left:125px; top:125px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #patientHeadings {
    position: -webkit-sticky;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1
  }
  
  #heading {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: -webkit-sticky;
    position: sticky;
    padding: 20px;
    height: 45px;
  }
  
  .heading_song {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 80px;
    width: 310px;
    font-family: Montserrat;
  }
  .heading_song2 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-right: 80px;
    width: 340px;
    font-family: Montserrat;
  
  }
  .heading_artist {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 45px;
    width: 350px;
    font-family: Montserrat;
  }
  .heading_artist2 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 155px;
    font-family: Montserrat;
  }
  .heading_youtube {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 40px;
    width: 150px;
    font-family: Montserrat;
  }
  .heading_youtube2 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 25px;
    font-family: Montserrat;
    width: 150px;
  }
  
  #data:hover {
    background-color: rgb(175, 174, 174);
  }
  .data:hover {
    background-color: rgb(175, 174, 174);
  }

  .trackInfo{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 20px;
    position:absolute; left:1300px; top:300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
    height: 400px;
}